* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "aside header" 
                       "aside main";
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
  background-color: #1293D5ff;
  color: #ffffff;
}

main {
  grid-area: main;
  background-color: #e3e9f0;
  color: #333;
}

.flex {
  display: flex;
}

/* Header Styles */

header {
  padding: 20px 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

header > div  {
  justify-content: space-between;
}

.row-one {
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.row-two {
  align-items: center;
  font-weight: bold;
}

.col-two.flex {
  align-items: center;
  margin-right: 10px;
}

.col.one.flex {
  align-content: center;
}

.fa-magnifying-glass {
  margin-left: 5px;
}

.input {
  width: 550px;
  height: 25px;
  background-color: #e3e9f0;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.pfp-s {
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  align-self: flex-start;
}

.pfp-m {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 50%;
}

.font-size_m {
  font-size: 1.3rem;
}

.font-size_s {
  font-size: .8rem;
  margin-top: 5px;
}

.btn {
  width: 80px;
  height: 30px;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  background-color: #1293D5ff;
  cursor: pointer;
}

.btn:hover {
  opacity: .7;
  transform: scale(.910);
}

.btn:active {
  opacity: .6;
}

.btn + .btn {
  margin-left: 10px;
}

/* Aside */

aside {
  display: grid;
  grid-template-rows: 1fr 8fr;
  padding: 20px;
}

aside a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem; 
}

aside i {
  font-size: 1.2rem;
}

.nav-item.flex {
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.nav-item:hover,
.nav-item a:hover {
  opacity: .9;
  transform: scale(.960);
  background-color: rgb(35, 157, 218);
  color: #ffffff;
}

.nav-header {
  align-self: flex-start;
}

.fa-windows {
  font-size: 1.5rem;
}

.nav-item + .nav-item {
  margin-top: 15px;
}

.nav-item.margin-top {
  margin-top: 60px;
}

/* Main */
main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.headers.flex {
  justify-content: space-between;
  font-size: .8rem;
  grid-column: 1 / -1;
}

.card {
  border: 1px solid black;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border-left: 5px solid #1293D5ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.icons {
  align-self: flex-end;
}

.icons > * {
  margin-right: 10px;
}

.card p {
  font-size: .7rem;
}

.card h3 {
  font-size: 1rem;
}

.side-card {
  align-items: flex-start;
  height: 280px;
}

.side-card_1 {
  grid-row: 2;
  grid-column: 3;
}

.side-card_2 > div{
  display: flex;
  align-items: center;
}

.margin-r {
  margin-right: 170px;
}


